@font-face {
    font-family: 'Avenir';
    src: url('../Fonts/AvenirLTStd-Roman.otf'); 
} 



body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}


::-webkit-scrollbar {
    display: none; /*Hide scrollbar*/
}



/*Main*/
#Main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}


/*Header*/
#Header { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    border-top-right-radius: 40px;
    background: linear-gradient(-45deg, #14386e , #003884, #0F5DA7, #2B77BF );
    background-size: 300% 100%;
    animation: gradient 10s ease infinite;
    box-shadow: 0 0 15px #2b77bf7e;
    padding-left: 20px;
    padding-right: 10px;
    min-height: 100vh;
}

/*header Gradiant Background Animation*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#Header #HeaderStart{
    display: flex;
    flex-direction: column;
}

#Header #CurrentPage{
    background-color: white;
    color: #085399;
    width: 88%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: bold;
}

#Header #CurrentPage:hover{
    filter: drop-shadow(0px 0px 5px #d5dee693);
    transform: translate3d(0, -2px, 0);
}

#Header #LogoLink{
    padding: 25px 30px 40px 10px;
}

#logo {
    max-width: 200px; 
    height: auto;
}

#Header a{
    color: white;
    padding: 15px 15px 15px 25px;
    font-size: 20px;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

#Header a:hover{
    filter: drop-shadow(0px 0px 10px #d5dee693);
    transform: translate3d(0, -2px, 0);
}

#Header #LogoLink:hover{ /*Prevent logo hovering styeling*/
    filter: drop-shadow(0px 0px 0px #d5dee693);
    transform: translate3d(0, 0px, 0);
}


/*Social Media Icons*/
.social-icons{
    text-align: left;
    padding: 25px 15px ;
}

#Header .social-icons a{
    font-size:30px;
    margin: 0 -18px;
    text-decoration:none;
    transition: all .4s ease-in-out; 
}

#Header .social-icons a:hover i{
    transform: translate3d(0, -2px, 0);
}




/*Content*/
#Content{
    display: flex;
    flex-direction: column; 
    padding-top: 5.5vh;
    padding-bottom: 9.8vh;
    width: 85%;
}

#MenuButtons{
    display: flex;
    align-self: flex-end;
    padding-right: 30px;
}

#Bell {
    display: block;
    font-size:30px;
    font-weight: 300;
    padding: 7px 12px 5px 0px;
    color: #085399;
    transition: all .4s ease-in-out;
}

#Bell:hover{
    
    transform: translate3d(0, -2px, 0);
    cursor: pointer;
}

#logoutButton {
    border: 0;
    border-radius: 30px;
    color: white;
    height: 40px;
    padding: 7px 56px;
    margin-bottom:  2vh;
    font-size: 16.5px;
    transition: all .4s ease-in-out;
    background: linear-gradient(-45deg, #2B77BF , #003884, #0F5DA7, #2B77BF );
    background-size: 100% 300%;   
}


#logoutButton:hover{
    box-shadow: 0 0 15px #2b77bf7e;
    color: white;
    transform: translate3d(0, -2px, 0);
    cursor: pointer;
}



/*Ofers Content*/
#Offers{
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
    width: 63vw;
    padding: 1vh 1vh;
    box-sizing: border-box;
}

#Offers h1{
    color: #085399;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    border-radius: 2px;
}

/*Navigation links*/
#links{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

#link1{
    color: #085399;
    font-size: 20px;
    text-decoration: none;
}

#linksLine{
    width: 2px;
    background-color: #085399;
    border-radius: 50px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 2px;
}

#link2{
    color: #085399;
    font-size: 20px;
    text-decoration: none;
}

#link1:hover, #link2:hover{
    color: #003884;
}


h2{
    color: #085399;
    padding-left: 20px;
    margin-bottom: 12px;
}

#WholeOffer{
    display: flex;
    justify-content: space-between;
    color: #085399;
    min-height: 28vh;
    height: auto;
    margin-bottom: 3vh;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.193));
}

#FirstPart{
    background-color: #085399;
    width: 20%;
    padding: 2vh 6vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

#Title{
    text-transform: capitalize;
    text-align: left;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: white;
    opacity: 0.7;
}

#JobTitle{
    text-transform: capitalize;
    text-align: left;
    font-size: 23px;
    margin-top: -4px;
    height: 29%;
    color: white;
}

#FirstPart a{
    display: block;
    font-size: 13px;
    color: white;
    padding: 35px 0px 5px 2px;
    text-decoration: none;
    letter-spacing: 1.3px;
    color: white;
    opacity: 0.7;
}



#SecondPart{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 2vh 6vh;
    background-color: white;   
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#BottomDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#Date{
    text-transform: capitalize;
    text-align: left;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #085399;
    opacity: 0.7;
}

#Status{
    text-transform: capitalize;
    text-align: left;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #085399;
    opacity: 0.7;
}

#Description{
    text-transform: capitalize;
    text-align: left;
    font-size: 13px;
    text-align: justify;
    line-height: 1.25;
    margin-top: 0px;
    color: #0c3a7b;
    height: 43%;
}

#CloseButton{
    border: 2px solid rgb(148, 6, 6);
    border-radius: 30px;
    background-color: transparent;
    color: rgb(148, 6, 6);
    padding: 5px 30px;
    font-size: 14px;
    margin-top: 10px;
    transition: all .4s ease-in-out;
    align-self: flex-end;
}


#CloseButton:hover{
    box-shadow: 0 0 10px rgba(158, 16, 16, 0.473);
    transform: translate3d(0, -2px, 0);
    cursor: pointer;
}

/*No offers message*/
#Empty{
    color: #024a8d;
    font-size: 3vh;
    text-align: center;
    margin-left: -10vh;
    margin-top: 35vh;
    margin-bottom: 9vh;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    font-size: 13px;
    border: 2px solid rgb(188, 5, 5);
    color: rgb(188, 5, 5);
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 22%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(188, 5, 5) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*Final Message*/
.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
    color: #085399;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap, .modal_wrapper .faliure_wrap{
	position: absolute;
	visibility: hidden;
	width: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background:white;
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	transition: 0.5s ease;
}

.modal_wrapper .success_wrap .modal_icon{
	margin-right: 20px;
	width: 50px;
	height: 50px;
	background: #4CBB17;
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
}

.modal_wrapper .faliure_wrap .modal_icon{
	margin-right: 20px;
	width: 50px;
	height: 50px;
	background: rgb(188, 5, 5);
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
}

.modal_wrapper.active{
	visibility: visible;
}

.success_wrap.active{
	visibility: visible;
	transform: translate(-50%,-50%);
}

.faliure_wrap.active{
	visibility: visible;
	transform: translate(-50%,-50%);
}

.modal_wrapper.active .shadow{
	opacity: 1;
}

.cancel_button,
.confirm_button {
 display: inline-block;
  margin-top: 10px;
  
  margin-right: 5px;
  padding: 10px 10px;
  
  font-size: 12px;
  font-weight: bold;
  border: 2px solid #085399;
  color: #085399;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
   width: fit-content;
  height: fit-content;
}
.text_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
 .confirm_button:hover ,.cancel_button:hover{
    box-shadow: 0 0 10px rgba(16, 16, 158, 0.473);
    transform: translate3d(0, -2px, 0);
    cursor: pointer;
}