@font-face {
    font-family: 'Avenir';
    src: url('../Fonts/AvenirLTStd-Roman.otf'); 
} 



body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}


::-webkit-scrollbar {
    display: none; /*Hide scrollbar*/
}

input:-webkit-autofill, /*Remove the background color*/
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Main Content*/
#Main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    box-sizing: border-box;
}



/*Body Gradiant Background Animation*/
#Main1{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px #2b77bf7e;
    height: 100vh;
    width: 65vh;
    color: white;
    box-sizing: border-box;
    padding:  15px 45px;
    border-top-right-radius: 40px;

    background: linear-gradient(-45deg, #2B77BF , #003884, #0F5DA7, #2B77BF );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/*Header*/
#header {
    padding: 12px 0px;
}

#logo {
    max-width: 200px; 
    height: auto;
}



/*Main Content*/
#Content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 81%;
}

#MainContent{
    padding: 0px 5px;
}

#MainContent h1{
    margin-top: 60px;
    line-height: 1.4;
    letter-spacing: 1.1px;
}


#MainContent p{
    margin-top: -9px;
    text-align: justify;
    font-size: 17px;
    line-height: 1.30;
}

#MainContent2 {
    background-color: #09215055;
    padding: 30px 29px;
    border-radius: 15px;
    font-size: 17px;
    line-height: 1.35;
    text-align: justify;
}



/*Form content*/
#SignUpForm{
    margin: auto;
    color: #085399;
    text-align: center;
}

#SignUpForm h2{
    font-size: 28px;
    margin-top: 50px;
}

#FormSentence{
    margin-top: -19px;
    font-size: 17px;
    width: 55vh;
}

label{
    display: block;
    text-align: left;
    padding: 15px 0px 5px 19px;
    font-size: 17px;
}

#SignUpForm input[type=text], input[type=email], input[type=password]{
    width: 51vh;
    height: 36px;
    border: solid 1.5px #085399;
    padding: 3px 10px;
    border-radius:5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#SignUpForm input[type=button]{
    display: block;
    width: 51vh;
    height: 40px;
    border: 0px;
    border-radius: 5px; 
    color: white;
    font-size: 18px;
    margin: 30px 0px 0px 15px;
    background-color: #085399;
    transition: all .4s ease-in-out; 
}

#SignUpForm input[type=button]:hover {
    box-shadow: 0 0 15px #2b77bf7e;
    transform: translate3d(0, -2px, 0);
    cursor: pointer;
}


#FormLogIn{
    margin: 7px 0px 20px 17px;
    text-align: left;
    font-size: 15px;
    color: #085399;
}

#FormLogIn a{
    text-decoration: none;
    color: #2d72b2; 
}



/*Social Media Icons*/
.social-icons{
	padding:8px;
    text-align: center;
}

.social-icons a{
    line-height:15px;
    font-size:35px;
    margin: 0 3px;
    text-decoration:none;
    transition: all .4s ease-in-out; 
}


#facebook{
	color:#3b5998;
}

#twitter{
	color:black ;
}

#linkedin{
	color: #0072b1 ;
}

#youtube{
	color: #c4302b;
}

.social-icons a:hover i{
    transform: translate3d(0, -2px, 0);
}

/*Final Message*/
.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
    color: #085399;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap, .modal_wrapper .faliure_wrap, .modal_wrapper .faliure_wrap2, .modal_wrapper .faliure_wrap3, .modal_wrapper .faliure_wrap4{
	position: absolute;
	visibility: hidden;
    width: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background:white;
	padding: 50px;
	display: flex;
	align-items: center;
    justify-content: center;
	border-radius: 5px;
	transition: 0.5s ease;
}

.modal_wrapper .faliure_wrap .modal_icon, .modal_wrapper .faliure_wrap2 .modal_icon, .modal_wrapper .faliure_wrap3 .modal_icon,.modal_wrapper .faliure_wrap4 .modal_icon{
	margin-right: 20px;
	width: 50px;
	height:50px;
	background: rgb(188, 5, 5);
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
}

.modal_wrapper .success_wrap .modal_icon{
	margin-right: 20px;
	width: 50px;
	height: 50px;
	background: #4CBB17;
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
}
.modal_wrapper.active{
	visibility: visible;
}


.faliure_wrap.active, .faliure_wrap2.active, .faliure_wrap3.active, .faliure_wrap4.active {
	visibility: visible;
	transform: translate(-50%,-50%);
}

.success_wrap.active{
	visibility: visible;
	transform: translate(-50%,-50%);
}

.modal_wrapper.active .shadow{
	opacity: 1;
}


