@font-face {
    font-family: 'Avenir';
    src: url('../Fonts/AvenirLTStd-Roman.otf');
}



body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}



::-webkit-scrollbar {
    display: none; /*Hide scrollbar*/
}


input:-webkit-autofill, /*Remove the background color*/
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/*Main*/
#Main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*Header*/
#Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    border-top-right-radius: 40px;
    background: linear-gradient(-45deg, #14386e , #003884, #0F5DA7, #2B77BF );
    background-size: 300% 100%;
    animation: gradient 10s ease infinite;
    box-shadow: 0 0 15px #2b77bf7e;
    padding-left: 20px;
    padding-right: 10px;
    min-height: 100vh;
}

/*header Gradiant Background Animation*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#Header #HeaderStart{
    display: flex;
    flex-direction: column;
}

#Header #CurrentPage{
    background-color: white;
    color: #0F5DA7;
    width: 88%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: bold;
}

#Header #LogoLink{
    padding: 25px 30px 40px 10px;
}

#logo {
    max-width: 200px;
    height: auto;
}

#Header a{
    color: white;
    padding: 15px 15px 15px 25px;
    font-size: 20px;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

#Header a:hover{
    filter: drop-shadow(0px 0px 10px #d5dee693);
    transform: translate3d(0, -2px, 0);
}

#Header #LogoLink:hover{ /*Prevent logo hovering styeling*/
    filter: drop-shadow(0px 0px 0px #d5dee693);
    transform: translate3d(0, 0px, 0);
}


/*Social Media Icons*/
.social-icons{
    text-align: left;
    padding: 25px 15px ;
}

#Header .social-icons a{
    font-size:30px;
    margin: 0 -18px;
    text-decoration:none;
    transition: all .4s ease-in-out;
}

#Header .social-icons a:hover i{
    transform: translate3d(0, -2px, 0);
}




/*Content*/
#Content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5.5vh;
    padding-bottom: 9.8vh;
    width: 100%;
}

#MenuButtons{
    display: flex;
    align-self: flex-end;
    padding-right: 30px;
}

#Bell {
    display: block;
    font-size:30px;
    font-weight: 300;
    padding: 7px 12px 5px 0px;
    color: #085399;
    transition: all .4s ease-in-out;
}

#Bell:hover{

    transform: translate3d(0, -2px, 0);
    cursor: pointer;
}

#logoutButton {
    border: 0;
    border-radius: 30px;
    color: white;
    height: 40px;
    padding: 7px 56px;
    font-size: 16.5px;
    transition: all .4s ease-in-out;
    background: linear-gradient(-45deg, #2B77BF , #003884, #0F5DA7, #2B77BF );
    background-size: 100% 300%;
}


#logoutButton:hover{
    box-shadow: 0 0 15px #2b77bf7e;
    color: white;
    transform: translate3d(0, -2px, 0);
    cursor: pointer;
}


/*Form Section*/
/*Container of form and progress bar*/
.wrapper{
    padding: 50px;
    font-size: 16px;
    margin: 0vw 5.5vw 0vw 2vw;
    color: #085399;
}



/*Progress bar*/
.wrapper .header{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.wrapper .header ul{
    display: flex;
    list-style-type: none;
}

.wrapper .header ul li{
    margin-right: 3.2vw;
    position: relative;

}

.wrapper .header ul li:last-child{
    margin-right: 0;
}

.wrapper .header ul li:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 40px;
    width: 100%;
    height: 2px;
    background: #d4d4d4;
    ;
}

.wrapper .header ul li:last-child:before{
    display: none;
}

.wrapper .header ul li div{
    padding: 5px;
    border-radius: 50%;
    margin-left: -15px;
}

.wrapper .header ul li p{
    width: 50px;
    height: 50px;
    background: #d4d4d4;
    ;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.wrapper .header ul li.active:before{
    background: #085399;
}

.wrapper .header ul li.active p{
    background: #085399;
}



/*Form Container*/
.wrapper .form_wrap{
    margin-bottom: 35px;
}

.wrapper .form_wrap h2{
    color: #085399;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 15px;
}


/*Single Form*/
.wrapper .form_wrap .input_wrap{
    width: 385px;
    max-width: 100%;
    margin: 0 135px 20px;
}

.wrapper .form_wrap .input_wrap:last-child{
    margin-bottom: 0;
}


/*Form Inputs*/
.wrapper .form_wrap .input_wrap label{
    display: block;
    margin-bottom: 5px;
}


/*Required field*/
.required::after {
    content: ' *';
    color: rgb(188, 5, 5);
}


.required:hover:after {
    content: '  * Required field';
    font-size: 11px;
    color: rgb(188, 5, 5);
}


/*Required Qualification*/
.MaybeRequiredQualification::after{
    content: ' *';
    color: #4CBB17;
}

.MaybeRequiredQualification:hover:after {
    content: '  * This field is required for adding qualification ';
    font-size: 11px;
    color: #4CBB17;
}


/*Required Experince*/
.MaybeRequiredExperince::after{
    content: ' *';
    color: #4CBB17;
}

.MaybeRequiredExperince:hover:after {
    content: '  * This field is required for adding experince';
    font-size: 11px;
    color: #4CBB17;
}


.wrapper .form_wrap .input_wrap .input{
    border: solid 1.5px #085399;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 385px;
    font-size: 16px;
    transition: 0.5s ease;
    
}

.wrapper .form_wrap .input_wrap .select{
    width: 407px;
}

textarea{
    resize: none;
}

.wrapper .form_wrap .checklist label:not(:first-child){
    font-size: 15px;

}


/*Form buttons container*/
.wrapper .btns_wrap{
    width: 407px;
    max-width: 100%;
    margin-left: 135px;
    border-radius: 5px;
    margin-top: 30px;
}


/*Form buttons internal container*/
.wrapper .btns_wrap .common_btns{
    display: flex;
    justify-content: space-between;
}

.wrapper .btns_wrap .form_1_btns{
    justify-content: flex-end;
}

.wrapper .btns_wrap .common_btns button, input[type=button]{
    border: 0;
    padding: 12px 15px;
    background: #085399;
    color: white;
    width: 195px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
    letter-spacing:1px;
}


/*Form buttons*/
.wrapper .btns_wrap .common_btns button.btn_back{
    background: #d4d4d4;
    transition: 0.5s ease;
}

.wrapper .btns_wrap .common_btns button.btn_next .icon{
    display: flex;
    margin-left: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_back .icon{
    display: flex;
    margin-right: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover,
input[type=button]:hover{
    box-shadow: 0 0 15px #2b77bf7e;
    transform: translate3d(0, -2px, 0);
}

.wrapper .btns_wrap .common_btns button.btn_back:hover{
    box-shadow: 0 0 15px #8b8c8c6b;
    transform: translate3d(0, -2px, 0);
}



/*Styeling extra things in skills, experince, qulaification: Headings and adding buttons*/
.input_wrap h4{
    margin-bottom: 5px;
}

.Multiable input, .Multiable select{
    margin-bottom: 10px;
}


.AddingExtraButton{
    color: #085399;
    font-size: 33px;
    transition: 0.5s ease;
    margin-left: 135px;
    cursor: pointer;
}

.remove{
    color: rgb(188, 5, 5);
    font-size: 33px;
    transition: 0.5s ease;
    cursor: pointer;
}



/*Final Message*/
.modal_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    color: black;
}

.modal_wrapper .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.2s ease;
}

.modal_wrapper .success_wrap, .modal_wrapper .faliure_wrap, .modal_wrapper .Customized_wrap{
    position: absolute;
    visibility: hidden;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-800px);
    background:white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.5s ease;
}

.modal_wrapper .success_wrap .modal_icon{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background: #4CBB17;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}

.modal_wrapper .faliure_wrap .modal_icon,.modal_wrapper .Customized_wrap .modal_icon {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background: rgb(188, 5, 5);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}

.modal_wrapper.active{
    visibility: visible;
}

.success_wrap.active{
    visibility: visible;
    transform: translate(-50%,-50%);
}

.faliure_wrap.active{
    visibility: visible;
    transform: translate(-50%,-50%);
}

.modal_wrapper.active .shadow{
    opacity: 1;
}

/*Number validation*/
#warningMessage1, #warningMessage2, #warningMessage3, #warningMessage4, .EnterMessage, #warningMessageMaxSalary{
    color: red;
    display: none;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ranking attributes*/
.attribute-list {
    list-style-type: none;
    width: 407px;
    padding: 0;
    margin: 0;
}

.attribute-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    cursor: move;
    border-radius: 5px;
 
}

#note, #note2{
    text-align: center;
    text-align-last: center;
    padding: 0px;
    width: 405px;
    font-size: 16px;
    margin-bottom: 22px;
    margin-top: -5px;
}

.attribute-list li:hover {
    background-color: #e0e0e0;
}



.p {
    font-size:5px;
}

.attribute-list li {
  display: flex;
  justify-content: space-between;
}

.Threshold select{
    border: solid 1.5px #085399;
    border-radius: 5px;
    padding: 9px;
    display: block;
    width: 70px;
    font-size: 14px;
    transition: 0.5s ease;
    margin-top: -5px;
}

.Threshold{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.Threshold label {
    margin-right: 10px; 
}
  
#container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#container label {
  margin-right: 10px;
}

#customization-div{
    width: 430px;
}

.attribute-list-div,
.select-list-div {
  display: inline-block;
  vertical-align: top;
}

.select-list-div select {
    border: solid 1.5px #085399;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 70px;
    font-size: 14px;
    transition: 0.5s ease;
    display: block;
    margin-bottom: 10px;
    margin-right: 5px;
}

.customization-list li{
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 292px;
}

.customization-list {
    list-style-type: none;
    width: 292px;
    padding-top: 6px;
    margin: 0;  
}

.select-list-div{
    padding-top: 6px;
}

.attribute-list-div li {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-left: -40px;
  width:300px
}

