@font-face {
    font-family: 'Avenir';
    src: url('../Fonts/AvenirLTStd-Roman.otf');
}



body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}



::-webkit-scrollbar {
    display: none; /*Hide scrollbar*/
}


input:-webkit-autofill, /*Remove the background color*/
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/*Main*/
#Main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*Header*/
#Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    border-top-right-radius: 40px;
    background: linear-gradient(-45deg, #14386e , #003884, #0F5DA7, #2B77BF );
    background-size: 300% 100%;
    animation: gradient 10s ease infinite;
    box-shadow: 0 0 15px #2b77bf7e;
    padding-left: 20px;
    padding-right: 10px;
    min-height: 100vh;
}

/*header Gradiant Background Animation*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#Header #HeaderStart{
    display: flex;
    flex-direction: column;
}

#Header #CurrentPage{
    background-color: white;
    color: #0F5DA7;
    width: 88%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: bold;
}

#Header #LogoLink{
    padding: 25px 30px 40px 10px;
}

#logo {
    max-width: 200px;
    height: auto;
}

#Header a{
    color: white;
    padding: 15px 15px 15px 25px;
    font-size: 20px;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

#Header a:hover{
    filter: drop-shadow(0px 0px 10px #d5dee693);
    transform: translate3d(0, -2px, 0);
}

#Header #LogoLink:hover{ /*Prevent logo hovering styeling*/
    filter: drop-shadow(0px 0px 0px #d5dee693);
    transform: translate3d(0, 0px, 0);
}


/*Social Media Icons*/
.social-icons{
    text-align: left;
    padding: 25px 15px ;
}

#Header .social-icons a{
    font-size:30px;
    margin: 0 -18px;
    text-decoration:none;
    transition: all .4s ease-in-out;
}

#Header .social-icons a:hover i{
    transform: translate3d(0, -2px, 0);
}




/*Content*/
#Content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5.5vh;
    padding-bottom: 9.8vh;
    width: 100%;
}

#MenuButtons{
    display: flex;
    align-self: flex-end;
    padding-right: 30px;
}

#Bell {
    display: block;
    font-size:30px;
    font-weight: 300;
    padding: 7px 12px 5px 0px;
    color: #085399;
    transition: all .4s ease-in-out;
}

#Bell:hover{
    cursor: pointer;
}

#logoutButton {
    border: 0;
    border-radius: 30px;
    color: white;
    height: 40px;
    padding: 7px 56px;
    font-size: 16.5px;
    transition: all .4s ease-in-out;
    background: linear-gradient(-45deg, #2B77BF , #003884, #0F5DA7, #2B77BF );
    background-size: 100% 300%;
}


#logoutButton:hover{
    box-shadow: 0 0 15px #2b77bf7e;
    color: white;
    transform: translate3d(0, -2px, 0);
    cursor: pointer;
}


#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*Form Section*/
/*Container of form and progress bar*/
#ProfileForm{
    width: 385px;
    padding: 1px 50px;
    font-size: 16px;
    margin: 2vh 5.5vw 0vw 2vw;
    color: #085399;
}

#ProfileForm h2{
    color: #085399;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-left: 15px;
    font-size: 28px;
}


/*Form Container*/
.input_wrap{
    width: 385px;
    max-width: 100%;
    margin: 0 0px 20px;
}


textarea{
    resize: none;
    padding: 0px;
    width: 405px;
    font-size: 16px;
    margin-bottom: 27px;
}

.input_wrap:last-child{
    margin-bottom: 0;
}


/*Form Inputs and button*/
.input_wrap label{
    display: block;
    margin-bottom: 5px;
}

.input{
    border: solid 1.5px #085399;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 385px;
    font-size: 16px;
    transition: 0.5s ease;
}

.btnComplete{
    width: 406px;
    border-radius: 5px;
    margin-top: 30px;
    border: 0;
    padding: 12px 15px;
    background: #085399;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: 0.5s ease;
    cursor: pointer;
    letter-spacing:1px;
}


/*Required field*/
.required::after {
    content: ' *';
    color: rgb(188, 5, 5);
}


.required:hover:after {
    content: '  * Required field';
    font-size: 11px;
    color: rgb(188, 5, 5);
}


/*Final Message*/
.modal_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    color: black;
}

.modal_wrapper .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.2s ease;
}

.modal_wrapper .success_wrap, .modal_wrapper .faliure_wrap{
    position: absolute;
    visibility: hidden;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-800px);
    background:white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.5s ease;
}

.modal_wrapper .success_wrap .modal_icon{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background: #4CBB17;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}

.modal_wrapper .faliure_wrap .modal_icon{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background: rgb(188, 5, 5);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}

.modal_wrapper.active{
    visibility: visible;
}

.success_wrap.active{
    visibility: visible;
    transform: translate(-50%,-50%);
}

.faliure_wrap.active{
    visibility: visible;
    transform: translate(-50%,-50%);
}

.modal_wrapper.active .shadow{
    opacity: 1;
}

/*Notification*/
#NotificationCircle{
    position: absolute;
    top: 49px; 
    right: 214.5px;
    background-color: rgb(148, 6, 6);
    border-radius: 25px;
    width: 12px;
    height: 12px;
    z-index: 1;
    transition: all .4s ease-in-out;
}

#NotificationDiv{
    position: absolute;
    display: none;
    top: 95px; 
    right: 70px;
    width: 310px;
    height: 320px ; 
    background-color: white;
    box-shadow: 0 0 10px #d5dee6c6;
    z-index: 1; 
    border-radius: 8px;
    overflow-y: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}

#NotificationTitle{
    padding: 9px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    color: #085399;
}

#NotificationLine{
    background-color:#57575725;
    height: 0.5px;
    margin-left: 10px;
    margin-right: 10px;
}

#OneNotification{
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}

#NotificationHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #003884;
    padding-top: 4px;
    padding-bottom: 0px;
}

#CircleHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#SeenCircle{
    height: 8px;
    width: 8px;
    background-color: #085399;
    border-radius: 25px;
    margin-right: 7px;
}

#UnseenCircle{
    height: 8px;
    width: 8px;
    background-color:rgb(148, 6, 6);
    border-radius: 25px;
    margin-right: 7px;
}

#SeenHeaderTitle{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    color: #085399;
    font-weight: lighter;
}

#UnseenHeaderTitle{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    color: rgb(148, 6, 6);
    font-weight: lighter;
}

#Notification{
    font-size: 15px;
    margin-top: -3px;
    color: #5757579d;
}

#Date{
    color: #5757579d;
    font-size: 13px;
    padding-right: 10px;
}

#NoNotification{
    color: #5757579d;
    text-align: center;
    margin-top: 105px;
}



/*Notification Scroller*/
.scrollbar
{
	margin-left: 30px;
	float: left;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.style-4::-webkit-scrollbar
{
    display: block;
	width: 8px;
	background-color: #F5F5F5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.style-4::-webkit-scrollbar-thumb
{
	background-color: #003884;
	border: 2px solid #555555;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}








